@import "colors";
@import "node_modules/bootstrap/scss/bootstrap";
@import "responsive";
/* RESET */
*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}

/* Text no select all */
%no-text-select-all{
    -webkit-touch-callout: none;
    -webkit-user-select: none;   
    -khtml-user-select: none;     
    -moz-user-select: none;       
    -ms-user-select: none;        
    user-select: none; 
}
%transform-horizontal-flip{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
/* RESET */
.logged-in{
    header{
        top: 30px;
    }
}
header{
    width: 100%;
    .header-content{
        width: 100%;
        height: 100vh;
        background-color: $colorTheme;
        height: 100vh;
        position: relative;
        .button-menu{
            width: 30px;
            height: 30px;
            position: absolute;
            top: 20px;
            left: 20px;
            z-index: 4;
            input{
                position: absolute;
                width: 30px;
                height: 30px;
                z-index: 3;
                opacity: 0;
                &:checked ~  .line-1{
                    transition: 1s;
                    opacity: 0;
                  }
                  
                  &:checked ~  .line-2{
                    transform: rotate(45deg);
                    transition: 1s;
                  }
                  
                  &:checked ~  .line-3{
                    top: 10px;
                    transform: rotate(-45deg);
                    transition: 0.8s;
                  }
            }
            .line{
                width: 30px;
                height: 5px;
                border-radius: 5px;
                background-color: $white;
                position: absolute;
            }
            .line-1{
                transform: rotate(0);
                transition: 2s;
            }.line-2{
                top: 10px;
                transform: rotate(0);
                transition: 1s;
            }.line-3{
                top: 20px;
                transform: rotate(0);
                transition: 1s;
            }
        }
        .main-menu{
            width: 300px;
            height: 100vh;
            position: absolute;
            top: 0;
            z-index: 3;
            left: -300px;
            ul{
                width: 100%;
                height: 100vh;
                background-color: $secondColorTheme;
                position: absolute;
                float: left;
                left: 0px;
                li{
                    width: 100%;
                    a{  
                        width: 100%;
                        padding: 15px 20px;
                        float: left;
                        color: $white;
                        text-decoration: none;
                        background-color: $secondColorTheme;
                        border-bottom: solid 1px $darkColorTheme;
                        &:hover{
                            background-color: $colorTheme;
                        }
                    }
                }
            }
        }
        .my-name{
            margin-left: 20px;
            h1{
                font-size: 250px;
                text-align: center;
                text-transform: uppercase;
                position: relative;
                z-index: 2;
                color: $white;
                @extend %no-text-select-all;
                span{
                    position: relative;
                    display: inline-block;
                    @extend %transform-horizontal-flip;
                    @extend %no-text-select-all;
                    color: $white;
                    &::before{
                        content: "";
                        position: absolute;
                        width: 250px;
                        height: 250px;
                        background-color: $secondColorTheme;
                        border-radius: 125px;
                        z-index: -1;
                        left: 50%;
                        top: 50%;
                        margin-left: -120px;
                        margin-top: -110px;
                    }
                }
            }
        }
    }
}


main{
    padding: 50px 0;
    nav{
        width: 100%;
        float: left;
        ul{
            width: 100%;
            float: left;
            margin: 0;
            li{
                float: left;
                min-width: 100px;
                text-align: center;
                margin: 0  10px 50px 0 ;
                
                a{
                    @extend %no-text-select-all;
                    color: $white;
                    background-color: $colorTheme;
                    border-radius: 3px;
                    padding: 7px 12px;
                    display: block;
                    box-shadow: 0 2px 10px 2px rgba(0,0,0,.5);;
                    &:hover{
                        color: $white;
                        text-decoration: none;  
                        background-color: $secondColorTheme;
                        box-shadow: 0 3px 10px -1px $secondColorTheme;
                    }
                }
                
            }
        }
    }
    .projects-container{
        width: 100%;
        min-height: 400px;
        .projects{
            margin: 0 0 50px;
            border: solid 2px rgba(245, 245, 245, 1);
            a{
                text-decoration: none;
                color: $black;
                .box-image{
                    width: 100%;
                    position: relative;
                    text-align: center;
                    img{
                        max-width: 100%;
                    }
                }
                .box-title{
                    text-align: center;
                    padding: 20px 0;
                    h2{
                        font-size: 16px;
                    }
                }
            }
            &:hover{
                margin-top: -20px;
                box-shadow: 0 10px 25px -20px rgba(000, 000, 000, 0.5);
            }
        }
    }
    .project-body{
        a{
            color: $black;
            margin-right: 10px;
            padding: 5px 10px;
            border-radius: 5px;
            background-color: rgba(245, 245, 245, 1);;
        }
    }
}


footer{
    width: 100%;
    .bio-image{
        width: 255px;
        height: 255px;
        margin: 50px 0;
        border-radius: 122px;
        float: right;
        img{
            max-width: 100%;
            border-radius: 122px;
        }
    }
    .about{
        text-align: left;
        margin: 50px 0;
    }
    .copyright{
        width: 100%;
        height: 20px;
        margin-top: 50px;
        background-color: $colorTheme;
    }
}

@import "responsive";