@import "node_modules/bootstrap/scss/bootstrap";
@include media-breakpoint-only(xs) { /* 575px */
    header{
        .header-content{
            .my-name{
                h1{
                    font-size: 100px;
                    span{
                        &::before{
                            width: 100px;
                            height: 100px ;    
                            left: 50%;
                            top: 50%;
                            margin-left: -48px;   
                            margin-top: -44px;  
                        }
                    }
                }
            }
        }
    }
    main{
        padding: 20px 0;
        nav{
            ul{
                li{
                    min-width: 70px;
                    margin: 0 5px 30px 3px;
                    a{
                        font-size: 10px;
                        padding: 5px 5px;
                    }
                }
            }
        }
        .exemple-box{
            .box-image{
                width: 100%;
                height: auto;
            }
            &:hover{
                position: static;
                top: 0;
                box-shadow: none;
            }
        }
    }
    footer {
        .bio-image {
            float: none;
            margin: 0 auto;   
             width: 200px;
            height: 200px;
            border-radius: 100px;
        }
    }

}

@include media-breakpoint-only(sm) { 
    header{
        .header-content{
            .my-name{
                h1{
                    font-size: 150px;
                    span{
                        &::before{
                            width: 150px;
                            height: 150px ;    
                            left: 50%;
                            top: 50%;
                            margin-left: -68px;   
                            margin-top: -64px;  
                        }
                    }
                }
            }
        }
    }
    main{
        padding: 20px 0;
        nav{
            ul{
                margin-left: 15px;
                li{
                    min-width: 100px;
                    margin: 0 5px 30px 5px;
                    a{
                        font-size: 16px;
                        padding: 10px 10px;
                    }
                }
            }
        }
        .exemple-box{
            .box-image{
                width: 100%;
                height: auto;
            }
            &:hover{
                position: static;
                top: 0;
                box-shadow: none;
            }
        }
    }
    footer {
        .bio-image {
            float: none;
            margin: 0 auto;   
            width: 200px;
            height: 200px;
            border-radius: 100px;
        }
    }
 }
 @include media-breakpoint-only(md) { 
    header{
        .header-content{
            .my-name{
                h1{
                    font-size: 200px;
                    span{
                        &::before{
                            width: 200px;
                            height: 200px ;    
                            left: 50%;
                            top: 50%;
                            margin-left: -92px;   
                            margin-top: -88px;  
                        }
                    }
                }
            }
        }
    }
    main{
        padding: 20px 0;
        nav{
            ul{
                margin-left: 15px;
                li{
                    min-width: 100px;
                    margin: 30px 5px 50px 5px;
                    a{
                        font-size: 16px;
                        padding: 10px 10px;
                    }
                }
            }
        }
        .exemple-box{
            .box-image{
                width: 100%;
                height: auto;
            }
            &:hover{
                position: static;
                top: 0;
                box-shadow: none;
            }
        }
    }
    footer {
        .bio-image {
            float: none;
            margin: 0 auto;   
            width: 200px;
            height: 200px;
            border-radius: 100px;
        }
        .about{
            margin: -30px 0 0;
        }
    }
 }
 @include media-breakpoint-only(lx) {
    footer {
        .about{
            margin: 70px 0;
        }
    }
 }
 
@media only screen and (max-width: 320px) {
    header{
        .header-content{
            .my-name{
                h1{
                    font-size: 75px;
                    span{
                        &::before{
                            width: 75px;
                            height: 75px;    
                            left: 50%;
                            top: 50%;
                            margin-left: -35px;   
                            margin-top: -32px;  
                        }
                    }
                }
            }
        }
    }
    main{
        nav{
            ul{
                padding-left: 10px;
                li{
                    min-width: 50px;
                    margin: 0 5px 30px 0;
                    a{
                        font-size: 9px;
                        padding: 4px 4px;
                    }
                }
            }
        }
    }
}