/* RESET */
*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}
/* RESET */
body{
    font-size: 16px;
}
header {
    width: 100%;
    min-height: 768px;
    background-color: yellow;
    nav{
        display: none;
    }
    .my-name{
        h1{
            font-size: 15rem;
            text-align: center;
            text-transform: uppercase;
        }
    }
}

main{
    margin: 50px 0;
    nav{
        width: 100%;
        float: left;
        ul{
            width: 100%;
            float: left;
            li{
                width: 100px;
                float: left;
                color: white;
                background-color: black;
                border-radius: 10px;
                padding: 7px;
                text-align: center;
                margin-right: 10px;
            }
            :hover{
                background-color: yellow;
                color: black;
            }
        }
    }
    .exemple-box{
        width: 255px;
        height: 255px;
        background-color: black;
        &:hover{
            transition:all 1s ease;
            opacity: 0.5;
        }
    }
    
}